/* CSS declarations go here */
* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
}

header h1 {
    text-align: center;
    padding: 12px;
}

#forms {
    display: flex;
    margin: 20px 100px;
    margin-top: 50px;
    justify-content: space-around;
}

#signup-form {
    flex: 1;
    margin-right: 100px;
}

#signin-form {
    flex: 1;
    margin-left: 100px;
}

.form-field {
    display: flex;
}

.form-field label{
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.form-field input {
    flex: 2;
    padding: 10px;
    margin: 10px;
}

.form-field button{
    flex: 1;
    padding: 12px;
    margin: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 12px;
    text-align: center;
}